<section id="bg_section">
    <div id="content_section">
        <img id="bgimg" src="assets/event/helpdesk.jpg" alt="">
        <div *ngFor="let p of pointers" title="{{p.title | titlecase}}" data-bs-toggle="tooltip" data-bs-placement="top" [ngClass]="p.class" [ngStyle]="{'top':p.top+'%','left':p.left+'%'}" (click)="pointerMethod(p)">
            <div class="pulsating-circle"></div>
        </div>
    </div>
</section>
<app-pdfmodal [rName]="sName"></app-pdfmodal>

<app-welcome-chat></app-welcome-chat>