<section id="exhibitor_chat">
  <div id="chatSection">
      <div id="chatHeader">
          <h4>
              <!-- <img src="assets/event/exhibitor_chat.png" width="36" alt=""> -->
              <i class="fa fa-comment"></i> &nbsp; 
              <span class="ml-2"> Chat with {{chat_name}}</span>
          </h4>
          <button id="closeChatBtn" type="button" (click)="closeChat()">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div id="chatbox" #scroller [scrollTop]="scroller.scrollHeight">
          <ul id="userChat">
              <ng-container *ngFor="let chat of messageList; let i = index">
                  <li id="userChatList">
                    <div id="userData" [ngStyle]="{'float': (chat.sender_id==sender_id)? 'right':'left','width': '90%','background':(chat.sender_id==sender_id)?'#49ea093b':'#5a46461a',
                    'border-radius':(chat.sender_id==sender_id)? '5px 28px':'28px 5px'}">
                        <div id="u_circle" title="{{chat.sender_name.replace('_', ' ')}}" data-bs-toggle="tooltip" data-bs-placement="left">
                          <span id="circle_letter">{{chat.sender_name.charAt(0)}}</span>
                        </div>
                        <div id="u_chat_msg">
                            <div id="u_name">                                
                                <span *ngIf="chat.sender_id==sender_id">You</span>
                                <span *ngIf="chat.receiver_id==sender_id">{{chat.sender_name}}</span>
                            </div>
                            <div id="u_Msg">
                                <p>{{chat.msg}}</p>
                            </div>
                        </div>
                    </div>
                  </li>
              </ng-container>
          </ul>
      </div>
      <div id="inputText">
          <input type="text" [formControl]="textMessage" (keyup.enter)="postOneToOneChat(textMessage.value)">
          <button (click)="postOneToOneChat(textMessage.value)">SEND</button>
      </div>
  </div>
</section>
      
      
