#login_section{   
    position: absolute;
    // line-height: 25px;
    // height: 100%;
    // top: 0;
    // bottom: 0;
    // left: 0%;
    // color: #ffffffb3;
    // padding-top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 82%;
}
input[type="text"], input[type="email"]{
    // background-color: #d8c6db;
    // border-radius: 10px;
    // border: 1px solid white;
    // box-shadow: 1px 1px 1px 1px;
    background-color: #fff;
    border: 0px solid white;
    height: 45px;
    border-radius: 25px;
    padding-left: 50px;
}
#submitBtn{
    // float: left;
        
    text-align: center;
    #loginbtn{
   
        // background: white;
        // color: black;
        // border-radius: 24px;
        // padding: 6px 70px;
        // border: 1px solid;
        // box-shadow: 5px 5px #906fc6;

    background: #3288c6;
    color: white;
    width: 50%;
        border-radius: 25px;
    }
}
label{
    color:#fff;
    font-size: 14px;
}

@media (max-width: 850px) and (orientation: landscape) {
    #login_section{max-width:40%}
    label{
        font-size: 9px;
    }
    .register{
        width: 43%;
    }
    }
    
    #login_section::-webkit-scrollbar {
      display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    #login_section {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

// form{
//     border: 4px solid #3b3b7e;
//     border-radius: 10px;
//     background: #5e67f124;
// }

#input_img {
    position: relative;
    bottom: 38px;
    left: 12px;
    width: 30px;
    height: 30px;
}
.form-group {
     margin-bottom: 0rem; 
     height:70px;
}