<section id="bg_section" [ngStyle]="{'display':isVideoPlayed? 'none':'block'}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xl-12  px-0">
                <img id="bgimg" src="assets/event/login.jpg" alt="" style="height: 100vh;
                width: 100%;">
                <div id="login_section" class="col-md-3">
                    <div style="color: red; text-align: center; line-height: 32px; font-weight: 600" *ngIf="msg">{{msg}}</div>

                    <form [formGroup]="loginForm" #loginFormDir="ngForm" (ngSubmit)="submitLogin()">
                        <!-- <img class="mb-3" src="assets/event/logo.png" alt="" width="100%"> -->
                        <!-- <h3>Sign In</h3> -->
                        <div class="form-group">
                            <!-- <label>Name</label> -->
                            <!-- <span><img class="register mb-2" routerLink="/signup" src="assets/event/register.png" title="Register" width="35%"
                                    alt="" style="cursor: pointer; float: right;"></span> -->
                                    <div class="invalidError"
                                    *ngIf="(loginForm.get('name').invalid && loginFormDir.submitted) || (loginForm.get('name').dirty && loginForm.get('name').invalid)">
                                    Name is Required*
                                </div>
                            <input type="text" class="form-control" required autocomplete="off" formControlName="name" placeholder="NAME">
                            <img src="assets/event/1.png" alt="" id="input_img">

                           
                        </div>
                        <div class="form-group">
                            <!-- <label>Email ID</label> -->
                            <!-- <span><img class="register mb-2" routerLink="/signup" src="assets/event/register.png" title="Register" width="35%"
                                    alt="" style="cursor: pointer; float: right;"></span> -->
                                    <div class="invalidError"
                                    *ngIf="(loginForm.get('email').invalid && loginFormDir.submitted) || (loginForm.get('email').dirty && loginForm.get('email').invalid)">
                                    E-Mail ID is Required*
                                </div>
                            <input type="text" class="form-control" required autocomplete="off" formControlName="email" placeholder="E-Mail ID">
                            <img src="assets/event/5.png" alt="" id="input_img">

                           
                        </div>
                        <div id="submitBtn">
                            <input name="login" id="loginbtn" class="btn" type="submit" value="LOGIN">
                        </div>

                    </form>
                    
                    <div id="already_reg" class="m-2">
                <p class="text-white" style="cursor: pointer;" routerLink="/signup">if not registered,then please register here!</p>
            </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div [ngStyle]="{'display':isVideoPlayed? 'block': 'none'}" class="videoContainer">
    <span id="skip" *ngIf="isVideoPlayed">
        <a class="nav-link sign" (click)="skip()" title="skip" role="button">
            Skip</a>
    </span>
    <video id="outerVideo" preload="auto" class="videoBg" (ended)="endVideo()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/pds11dec/outer.mp4" type="video/mp4">
    </video>
</div>
<!-- <div id="underprogress">
    <p>Something Awsome will be coming soon...</p>
</div> -->