textarea{
    border: none;
    height: 102px;
    box-sizing: border-box;
    outline-width: 0;
    padding: 10px;
    font-size: 14px;
    width: 78% !important;
    border-radius: inherit;
    border-radius: 2px;
    // background: #e8e8e8;
    border: 0px;
    padding: 10px 5px 6px 15px;
    resize: none;
    border: 1px solid #e8e8e8;
    outline: none;
}
