<section id="bg_section">
  <div id="content_section">
    <img id="bgimg" [src]="(stallData.length >= 1)? stallData[0]['banner']: stallData[0]['banner']" alt="">
    <div *ngFor="let p of creatives | keyvalue; let i=index" class="p{{i+1}}" data-bs-toggle="tooltip"
      data-bs-placement="top" title="{{p.key.title | titlecase}}" (click)="pointerMethod(p.key, p.value)">
      <div class="pulsating-circle"></div>

    </div>
    <!-- <div class="videoplay" (click)="creation()">
      <div class="pulsating-circle"></div>
    </div> -->
    <div id="onloadPlayer">
      <video id="centerPlay" width="100%" muted preload="auto" playsinline autoplay controls loop>
        <source src="https://d3ep09c8x21fmh.cloudfront.net/techgig/TGProv4.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>

  </div>
</section>

<div id="boothIcons">
  <ul>
    <li class="btn-primary" *ngFor="let booth of boothList" (click)="openBooth(booth)">
      <a href="javascript:void(0)">
        {{booth.name}}
        <span>
          <img src="{{booth.src}}" alt="">
        </span>
      </a>
    </li>
  </ul>
</div>
<div id="socialicons">
  <a href="{{stallData[0]?.linkedin}}" *ngIf="stallData[0]?.linkedin != ''" target="_blank" rel="noopener noreferrer">
    <i style="margin-left: 8px;font-size: 60px;" class="fa fa-globe"></i>
  </a>
  <a target="_blank" *ngIf="stallData[0]?.twitter != ''" href="{{stallData[0]?.twitter}}"><img
      src="assets/icons/twit.png" alt=""></a>
  <a target="_blank" *ngIf="stallData[0]?.youtube != ''" href="{{stallData[0]?.youtube}}"><img
      src="assets/icons/youtube.png" alt=""></a>
  <a target="_blank" *ngIf="stallData[0]?.linkedin_url != ''" href="{{stallData[0]?.linkedin_url}}"><img
      src="assets/icons/linkdin.png" alt=""></a>
  <a target="_blank" *ngIf="stallData[0]?.fb != ''" href="{{stallData[0]?.fb}}"><img src="assets/icons/fbicon.png"
      alt=""></a>

</div>

<app-enquiry-form></app-enquiry-form>
<app-exhibitor-chat [chat_id]="chat_id" [chat_name]="chat_name"></app-exhibitor-chat>
<div class="modal fade" id="open_popup_modal" tabindex="-1" aria-labelledby="open_popup_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" id="ModalPlay">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeModal()">&times;</div>
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="open_popup_modalLabel">{{modalTitle | titlecase}}</h5>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0"
                [ngStyle]="{'text-align':(modalTitle==='brochures')? 'inherit':(modalTitle==='briefcase')? 'inherit': 'center'}">
                <div id="popupData">
                </div>
                <div id="popupDocsData" *ngIf="(modalTitle=='brochures')||(modalTitle=='briefcase')">
                  <div style="height: 451px;overflow: auto;" class="m-3">
                    <!-- <ul class="list-group list-group-flush">
                          <li class="list-group-item" *ngFor="let b of stallData[0]['brochure']">
                            {{b.name}}
                          </li>
                        </ul> -->
                    <!-- <button class="btn btn-success" (click)="downloadZip()">download Zip</button> -->
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <!-- <th scope="col"><input class="form-check-input" type="checkbox" value="" id="check_all" (change)="selectZipAll(stallData[0]['brochure'].length)"></th> -->
                          <th scope="col">Name</th>
                          <!-- <th scope="col">Add to Briefcase</th> -->
                          <th scope="col">View</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let b of stallData[0]['brochure']; let i = index">
                          <td>{{i+1}}</td>
                          <!-- <td><input class="form-check-input" type="checkbox" value="" id="check_{{i+1}}" (change)="selectZip($event)"></td> -->
                          <td>{{b.title}}</td>
                          <!-- <td><img src="assets/event/Briefcase.png" (click)="addToBriefcase(b)" alt=""></td> -->
                          <td>
                            <a href="{{b.url}}" target="_blank" (click)="analytics('brochure_download');"> 
                              <i class="fa fa-eye" aria-hidden="true" style="font-size: 24px;"></i>
                            </a>
                            <!-- <a (click)="downloadPdf(b.url)" style="cursor: pointer;"><i class="fa fa-download"></i></a> -->

                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="call_exhibitor" tabindex="-1" aria-labelledby="call_exhibitorLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" id="ModalPlay">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeModal()">&times;</div>
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="call_exhibitorLabel">Exhibitor list</h5>
          </div>
          <div class="container-fluid">
            <div class="row">
              <!-- <div class="col-md-12 col-xl-12 p-0"> -->
              <div id="popupData">
              </div>
              <div id="popupDocsData">
                <div style="overflow: auto;" class="m-3">
                  <div class="row">
                    <div class="col-md-4 col-sm-12" *ngFor="let data of maindata">
                      <ul class="cards">
                        <li class="cards_item">
                          <div class="card">
                            <div class="card_image"><img src="assets/event/profile.jpg"></div>
                            <div class="card_content text-center">
                              <h2 class="card_title">{{data.name}}</h2>
                              <p class="card_text"><img title="Chat" style="cursor: pointer;margin: 10px;"
                                  src="assets/event/exhibitor_chat.png" width="40px" alt=""
                                  (click)="callExhibitionChat(data.id,data.name);analytics('exhibitor_chat');"><img title="Schedule call"
                                  src="assets/event/call3.png" width="40px" alt="" style="cursor: pointer;margin: 10px;"
                                  (click)="openVideoCall(data.id,data.name);"></p>

                              <!-- <button class="btn card_btn"></button> -->
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- schedule call -->
<div class="modal fade" id="call_video_chat" tabindex="-1" aria-labelledby="call_video_chatLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" id="ModalPlay">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="call_video_chatModal()">&times;</div>
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="call_video_chatLabel">Schedule a call</h5>
          </div>
          <div class="container-fluid">
            <div class="row">
              <!-- <div class="col-md-12 col-xl-12 p-0"> -->
              <div id="popupData">
              </div>
              <div id="popupDocsData">
                <div style="overflow: auto;" class="m-3">
                  <div class="row">
                    <div class="pr-3 pb-3 pe-3 w-auto">
                      <!-- <bs-datepicker-inline [bsValue]="bsInlineValue" (click)="onDateSelect($event)"></bs-datepicker-inline> -->

                      <!-- <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker> -->
                      <!-- <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker [bsConfig]="{ adaptivePosition: true }" (click)="onDateSelect($event)"> -->
                      <bs-datepicker-inline bsDatepicker [bsValue]="bsInlineValue" (bsValueChange)="parseDate($event)"
                        [minDate]="minDate" [maxDate]="maxDate">
                      </bs-datepicker-inline>
                      <!-- <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue" (click)="onDateSelect($event)"> -->
                      <!-- <input type="date" (click)="onDateSelect($event)"> -->
                    </div>
                    <div class="col-xs-12 col-12 col-md-4 form-group mb-3" style="overflow-y: scroll;">
                      <div class="time-part">

                        <ul class="time-list mCustomScrollbar _mCS_4" id="list">
                          <div id="mCSB_4" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"
                            style="max-height: none;">
                            <div id="mCSB_4_container" class="mCSB_container" style="position:relative; top:0; left:0;"
                              dir="ltr">

                              <li *ngFor="let times of newTimeSlots">
                                <a *ngIf="times.flag =='enabled'" (click)="getTime($event,'active',times.time)"
                                  href="javascript:void(0);" class="time_a" data-val=times.time>{{times.time}}</a>

                                <!-- <a  href="javascript:void(0);" disabled="disabled"
                                class="time_a btn-disabled">{{times.time}}</a> -->
                                <!-- 
                                <a *ngIf="times.flag =='disabled'" disabled="disabled" href="javascript:void(0);"
                                  class="time_a btn-disabled" data-val=times.time>{{times.time}}</a> -->
                              </li>


                            </div>
                            <div id="mCSB_4_scrollbar_vertical"
                              class="mCSB_scrollTools mCSB_4_scrollbar mCS-light mCSB_scrollTools_vertical"
                              style="display: block;">
                              <div class="mCSB_draggerContainer">
                                <div id="mCSB_4_dragger_vertical" class="mCSB_dragger"
                                  style="position: absolute; min-height: 30px; display: block; height: 149px; max-height: 290px; top: 0px;">
                                  <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                                </div>
                                <div class="mCSB_draggerRail"></div>
                              </div>
                            </div>
                          </div>
                        </ul>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end scheduled call -->

<app-pdfmodal></app-pdfmodal>