<section id="bg_section">
  <div id="content_section">
    <img id="bgimg" src="{{bgImg}}" alt="">
    <div class="one" (click)="postPath('lobby2')">
      <!-- <div class="pulsating-circle"></div> -->
    </div>
    <!-- <div class="two" (click)="openAR()">
      <div class="pulsating-circle"></div>
    </div> -->
    <div id="openPhoto" (click)="showPhotobooth()">
      <div class="pulsating-circle"></div>
    </div>
  </div>
</section>
<!-- <app-capture-photo></app-capture-photo> -->
<!-- photobooth -->
<div class="modal fade" id="photoboothModal" tabindex="-1" role="dialog" aria-labelledby="photoboothModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body p-0 m-1">
        <div id="close_modal_popup" (click)="closePhotobooth()">&times;</div>
        <section id="section">
          <div id="content-wrap">
            <div id="background">
              <div id="wholeCam" [ngStyle]="{'display':showImage? 'none': 'block'}">
                <!-- <img id="camImg" src="{{selectedImg}}" width="100%" alt=""> -->
                <!-- <img id="camImg" src="assets/event/photo-jacket.png" width="100%" alt=""> -->
                <video #videoStream id="videobgStream" class="vid videoData" autoplay playsinline></video>
                <div id="buttons">
                  <img src="assets/event/photobooth_files/click.png" width="12%" (click)="capturePhoto()" alt="">
                  <img src="assets/event/ar.png" width="10%" id="iframeID" (click)="openAR()" alt="">
                  <img src="assets/event/ar2.png" width="10%" (click)="openAR2()" alt="">
                  <img src="assets/event/filter3.png" width="10%" (click)="openAR3()" alt="">
                </div>
                <div class="disclaimer" >
                 <h6 style="font-size: 11px;
                 color: red;">Disclaimer:Some of the photographs clicked here may be used for Cipla internal communication*</h6>
                 </div>
                <!-- <button (click)="showingBg()" style="border: 0px; position: absolute; bottom: 0px; background: white; left: 225px;
                            margin: 5px;"><img src="assets/event/frame.png" alt="frame" style="width: 70%;">
                            </button> -->
                <div id="bgplace" class="text-center">
                  <p class="m-2" style="color: #1592c5cf;">Background</p>
                  <div id="bgImgView">
                    <!-- <div>
                                  <p>Background</p>                             
                                </div> -->
                    <i class="fa fa-angle-up" (click)="moveTop()"></i>
                    <ul id="frameImg">
                      <li *ngFor="let x of frameImgs" (click)="changeFrameImg(x)">
                        <img src="{{x.img}}" alt="">
                      </li>
                    </ul>
                    <i class="fa fa-angle-down" (click)="moveDown()"></i>
                  </div>
                </div>
              </div>
              <div [ngStyle]="{'display':showImage? 'block': 'none'}">
                <canvas #canvas id="canvas" class="videobgStream" style="width: 100%;"></canvas>
                <div id="buttons">
                  <a href="{{img}}" download="screenshot.jpeg">
                    <img src="assets/event/photobooth_files/down.png" width="12%" (click)="downloadPic()" alt=""
                      title="Some of the photographs clicked here may be used for Cipla internal communication">
                  </a>
                  <img src="assets/event/photobooth_files/re.png" width="12%" (click)="reload()" alt="">
                  <!-- <a class="share-btn" title="Share">
                                <i class="fa fa-share-alt"></i>
                              </a>                            -->
                </div>
                <!-- <div class="share-btn-container">
                                <a class="facebook-btn">
                                  <i class="fa fa-facebook"></i>
                                </a>
                            
                                <a class="twitter-btn">
                                  <i class="fa fa-twitter"></i>
                                </a>
                            
                                <a class="instagram-btn">
                                  <i class="fa fa-instagram"></i>
                                </a>
                            </div> -->
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="armodal" tabindex="-1" aria-labelledby="armodalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeModalNew()">&times;</div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                <div>
                  <iframe id="iframe_feedback" frameborder="0" height="600" src="https://ciplaachievers.multitvsolution.com/hatAR/index.html" width="100%" allow="camera; microphone"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!--<div class="modal fade" id="armodal2" tabindex="-1" aria-labelledby="armodal2Label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeModalNew2()">&times;</div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                <div>
                  <iframe id="iframe_feedback" frameborder="0" height="600" src="https://ciplaachievers.multitvsolution.com/glasses/index.html" width="100%" allow="camera; microphone"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- 
<div class="modal fade" id="armodal3" tabindex="-1" aria-labelledby="armodal3Label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeModalNew3()">&times;</div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                <div>
                  <iframe id="iframe_feedback" frameborder="0" height="600" src="https://ciplaachievers.multitvsolution.com/butterflies/index.html" width="100%" allow="camera; microphone"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="modal fade" id="pdf_modal" tabindex="-1" aria-labelledby="pdf_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeModal()">&times;</div>
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="pdf_modalLabel">Agenda</h5>
            <!-- {{rName | titlecase}} -->
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                <div>
                  <!-- <div [ngSwitch]="rName"> -->
                  <!-- <div *ngSwitchCase="'feedback'">
                    <iframe _ngcontent-vet-c14="" id="iframe_feedback" frameborder="0" height="550"
                      src="https://forms.gle/bJLEsiJUpLHgx4vn6" width="100%"></iframe>
                  </div> -->
                  <!-- *ngSwitchCase="'agenda'" -->
                  <div>
                    <embed src="../../../assets/event/agenda.jpg" frameborder="0" width="100%" height="auto">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>