<!-- <div class="modal fade" id="capture_photo_modal" tabindex="-1" aria-labelledby="capture_photo_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">      
      <div class="modal-body p-0">
        <div id="modal_popup">
            <div id="close_modal_popup" (click)="closeModal()">&times;</div>    
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="capture_photo_modalLabel">Take a Selfie</h5>
            </div>
            <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                    <div class="m-2">
                      <div class="d-flex flex-column align-items-center">
                          <div class="row">
                              <div class="col-xl-12">
                                  <div id="wholeCam" class="p-1" [ngStyle]="{'display':showImage? 'none': 'block'}">                                         
                                          <div id="backimg">
                                              <img id="selfie" src="https://d3ep09c8x21fmh.cloudfront.net/tiesep/assets/tie_photobooth.png" alt="">
                                          </div>
                                      <video #video id="vid" style="width: 85%; margin: 0 8%;" class="vid videoData" autoplay></video>
                                  </div>
                              </div>
                          </div>
                          <div class="p-1" *ngIf="!showImage">
                              <div class="row">
                                  <div class="col-sm-12">
                                      <img src="https://d3ep09c8x21fmh.cloudfront.net/tiesep/assets/img/camera.png" width="50" style="cursor: pointer"
                                          (click)="capture()" alt="">
                                  </div>
                              </div>
                          </div>
                          <div class="p-1" [ngStyle]="{'display':showImage? 'block': 'none'}">
                              <canvas #canvas id="canvas" class="vid"></canvas>
                              <div class="text-center p-2">
                                  
                                  <a href="{{img}}" download="screenshot.png"><img src="https://d3ep09c8x21fmh.cloudfront.net/tiesep/assets/img/download.png"
                                          width="50" alt="" (click)="uploadVideo()"></a>
                                  &nbsp; &nbsp; &nbsp;

                                  <a style="cursor:pointer"><img src="https://d3ep09c8x21fmh.cloudfront.net/tiesep/assets/img/retake.png"
                                          width="50" alt="" (click)="reload()"></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
                </div>
            </div>
        </div>      
      </div>      
    </div>
  </div>
</div> -->