<div class="container-fluid" >
    <!-- style="background-image: url(../../../assets/event/exhibition3.jpg);" -->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12 px-0 d-xs-block d-sm-block d-md-block d-xl-block">
            <div id="heading" >
                <!-- <div>
                    
                </div> -->
                <h3>My Appointments</h3>
            </div>
            <div style="overflow-y: scroll; position: relative; height: 105vh;top: 80px;">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Scheduled Time</th>
                        <th>Join Call</th>
                    </tr>
                    <tr *ngFor="let item of callLists">
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.time}}</td>
                        <td> <a href="{{item.channel}}" target="_blank" rel="noopener noreferrer" (click)="analytics();">
                                <i class="fa fa-video-camera"
                                    style="color:black; font-size: 25px; text-align: center;"></i>
                            </a> </td>
                    </tr>
                    <!-- <tr *ngFor="let user of callListattendee">
                  <td>{{user.name}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.time}}</td>
                  <td> <a href="{{user.channel}}" target="_blank" rel="noopener noreferrer">
                      <i class="fa fa-video-camera" style="color:black; font-size: 25px; text-align: center;"></i>
                     </a> </td>
                   </tr> -->
                </table>
            </div>
        </div>
    </div>
</div>
