<!-- <button class="btn btn success" (click)="getCall()">call</button> -->
<!-- <div [ngStyle]="{'display':landscape?'none':'block'}" *ngIf="isLoaded">
    <div class="loading" id="potrait">
      <img src="assets/rotate.gif" alt="">
      <p>Switch to Landscape view</p>
        <div class="loader"></div>

      </div>
</div>
<div [ngStyle]="{'display':landscape?'block':'none'}">
  <router-outlet></router-outlet>
</div> -->
<!-- <div > -->
<div [ngStyle]="{'display':landscape?'none':'block'}">
  <div id="potrait">
      <img src="assets/rotate.gif" alt="">
      <p>Switch to Landscape view</p>
      <!-- <div class="loader"></div> -->
  </div>
</div>
<!-- </div> -->
<div [ngStyle]="{'display':landscape?'block':'none'}">
  <router-outlet></router-outlet>
</div>