#bgimgvh{
    width: 100%;
    height: 100vh;
}


#onloadPlayer{
    video{
        border-radius: 0px;
    }
    position: absolute;
    width: 14.5%;
    top: 28.7%;
    left: 42.25%;
    border: 0px solid #000;
    border-radius: 0px;
    line-height: 0%;
    // box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.5);
}