
<!-- <div class="h-5">
    <img src="../../assets/logo.png" class="p-2" alt="">
    <div class="float-right p-3">
        <div style="color: #f15c25;border: 1px solid #f15c25;padding: 5px; font-weight: 900">#ETSaleStrategy</div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12  px-0">
            <img src="assets/event/login2.jpg" class="signup-img" alt="login image">
            <div class="signup-section col-md-3" style="max-height: 100vh; overflow-y: scroll;background-color: #00003c66;">
                    
                    <!-- <h4 class="pl-3 pt-2"><span style="border-bottom: 2px solid black; font-weight: 600">SIGNUP</span></h4> -->
                    
                    <form class="pt-2" [formGroup]="signupForm" (ngSubmit)="register()" #formDir="ngForm">
                        <img class="mb-3" src="assets/event/logo.png" alt="" width="100%">
                        <!-- <h1 style="font-style: Agency FB;">CIPLA NORTH AMERICA ACHIEVERS'S AWARD</h1> -->
                        <h6 class="pl-5 pt-2" *ngIf="msg" style="font-size: 15px;
                            font-weight: bold;
                            color: red;">{{msg}}</h6>
                        <div class="form-row">
                            <div class="col-md-12 col-xl-12 col-sm-12 px-3 py-2">
                                <!-- <label for="formGroupExampleInput">Name*</label> -->
                                
                                <input type="text" formControlName="first_name" required placeholder="FIRST NAME">
                                <img src="assets/event/1.png" alt="" id="input_img">
                                
                            </div>
                            <div class="pl-4" *ngIf="(signupForm.get('first_name').invalid && formDir.submitted) || (signupForm.get('first_name').dirty && signupForm.get('first_name').invalid)">
                                <h5 style="color: crimson;font-weight: 900;letter-spacing: 1px;">First name is required*</h5>
                            </div>

                            <div class="col-md-12 col-xl-12 col-sm-12 px-3 py-2">
                                <!-- <label for="formGroupExampleInput">Name*</label> -->
                                <input type="text" formControlName="last_name" required placeholder="LAST NAME">
                                <img src="assets/event/1.png" alt="" id="input_img">

                               
                            </div>
                            <div class="pl-4" *ngIf="(signupForm.get('last_name').invalid && formDir.submitted) || (signupForm.get('last_name').dirty && signupForm.get('last_name').invalid)">
                                <h5 style="color: crimson;font-weight: 900;letter-spacing: 1px;">Last name is required*</h5>
                            </div>

                            <div class="col-md-12 col-xl-12 col-sm-12 px-3 py-2">
                                <!-- <label for="formGroupExampleInput">Email ID*</label> -->
                                <input  type="email" formControlName="email" required placeholder="E-MAIL">
                                <img src="assets/event/2.png" alt="" id="input_img">
                               
                            </div>
                            <div class="pl-4" *ngIf="(signupForm.get('email').invalid && formDir.submitted) || (signupForm.get('email').dirty && signupForm.get('email').invalid)">
                                <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">*Email must be on the (@sanofi.com & sanofi-india.com) domain</div> -->
                                <h5 style="color: crimson;font-weight: 900;letter-spacing: 1px;">Email ID is required*</h5>
                            </div>

                            <div class="col-md-12 col-xl-12 col-sm-12 px-3 py-2">
                                <!-- <label for="formGroupExampleInput">Name*</label> -->
                                <input type="text" formControlName="emp_id" required placeholder="EMPLOYEE ID">
                                <img src="assets/event/5.png" alt="" id="input_img">
                                
                            </div>
                            <div class="pl-4" *ngIf="(signupForm.get('emp_id').invalid && formDir.submitted) || (signupForm.get('emp_id').dirty && signupForm.get('emp_id').invalid)">
                                <h5 style="color: crimson;font-weight: 900;letter-spacing: 1px;">Employee ID is required*</h5>
                            </div>


                            <!-- <div class="col-md-12 col-xl-12 col-sm-12 px-3 py-2">
                                <label for="formGroupExampleInput">Phone Number*</label>
                                <input  type="number" formControlName="phone" required>
                                <div *ngIf="(signupForm.get('phone').invalid && formDir.submitted) || (signupForm.get('phone').dirty && signupForm.get('phone').invalid)">
                                    <h5 style="color: crimson;font-weight: 900;letter-spacing: 1px;">Phone Number is required*</h5>
                                    
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-12 col-sm-12 px-3 py-2">
                                <label for="formGroupExampleInput">Company*</label>
                                <input  type="text" formControlName="job_title" required>
                                <div *ngIf="(signupForm.get('job_title').invalid && formDir.submitted) || (signupForm.get('job_title').dirty && signupForm.get('job_title').invalid)">
                                    <h5 style="color: crimson;font-weight: 900;letter-spacing: 1px;">Company is required*</h5>
                                    
                                </div>
                            </div> -->

                            <!-- <div class="col-md-6 col-xl-6 col-sm-6 px-3 py-2">
                                <label for="formGroupExampleInput">Designation*</label>
                                <input  type="text" formControlName="designation" required>
                                <div *ngIf="(signupForm.get('designation').invalid && formDir.submitted) || (signupForm.get('designation').dirty && signupForm.get('designation').invalid)">
                                    <h5 style="color: crimson;font-weight: 900;letter-spacing: 1px;">Designation is required*</h5>
                                    
                                </div>
                            </div> -->
                            <div class="col-md-12 col-xl-12 col-sm-12 px-3 py-2">
                                <!-- <label for="formGroupExampleInput">Nearest Metro City*</label> -->
                                <select id="cars" formControlName="entity">
                                    <option hidden disabled selected value>ENTITY</option>
                                    <option value="InvaGen">InvaGen</option>
                                    <option value="Cipla Limited">Cipla Limited</option>
                                    <option value="Cipla USA">Cipla USA</option>
                                    <option value="Exelan">Exelan</option>
                                   
                                  </select>
                                <img src="assets/event/3.png" alt="" id="input_img">

                                  
                            </div>
                            <div class="pl-4" *ngIf="(signupForm.get('entity').invalid && formDir.submitted) || (signupForm.get('entity').dirty && signupForm.get('entity').invalid)">
                                <h5 style="color: crimson;font-weight: 900;letter-spacing: 1px;">Entity is required*</h5>
                                
                            </div>

                            <div class="col-md-12 col-xl-12 col-sm-12 px-3 py-2">
                                <!-- <label for="formGroupExampleInput">Nearest Metro City*</label> -->
                                <select id="cars" formControlName="location">
                                    <option hidden disabled selected value>LOCATION</option>
                                    <option value="US - New Jersey">US - New Jersey</option>
                                    <option value="US - New York">US - New York</option>
                                    <option value="US - Massachusetts">US - Massachusetts</option>
                                    <option value="US - Florida">US - Florida</option>
                                    <option value="US - Remote">US - Remote</option>
                                    <option value="India">India</option>
                                 
                                  </select>
                                <img src="assets/event/4.png" alt="" id="input_img">

                                  
                            </div>
                            <div class="pl-4" *ngIf="(signupForm.get('location').invalid && formDir.submitted) || (signupForm.get('location').dirty && signupForm.get('location').invalid)">
                                <h5 style="color: crimson;font-weight: 900;letter-spacing: 1px;">Location is required*</h5>
                                
                            </div>

                            <!-- <div class="col-md-12 col-xl-12 col-sm-12 pt-4 pl-4">
                                <label for="second_image" style="margin-top: 19px;
                                margin-bottom: 0px;">Upload Your Image (Optional)</label>
                              <input type="file" (change)="handleGenralcopy($event.target.files)" class="form-control" formControlName="genral_copy" accept="image/*" >
                            </div> -->

                            <!-- <div class="col-md-12 col-xl-12 col-sm-12 pt-4 pl-4">
                                <label for="formGroupExampleInput">Headquater*</label>
                                <input type="text" formControlName="job_title" required>
                                <div *ngIf="(signupForm.get('job_title').invalid && formDir.submitted) || (signupForm.get('job_title').dirty && signupForm.get('job_title').invalid)">
                                    <div style="font-weight: 400; font-size: 12px; color: #e7388b;">*Job title required</div>

                                </div>
                            </div> -->



                            <!-- <div class="col-md-6 col-xl-6 col-sm-12 pt-4 pl-4">
                                <label for="formGroupExampleInput">Token*</label>
                                <input type="text" formControlName="token">
                            </div> -->

                            <!-- <div class="col-md-6 col-xl-6 col-sm-12 pt-4 pl-4">
                                <img [src]="imgURL" height="100" *ngIf="imgURL">
                            </div> -->
                            <!-- <div class="col-md-12 col-xl-12 col-sm-12 pl-4">
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox" name="" value="" (change)="isChecked($event)">
                                    <label for="checkbox"><span>*I agree, By supplying my contact
                                            information.</span></label>
                                </div>
                            </div> -->
                            <div class="col-md-12 col-xl-12 col-sm-12 text-center">
                                <button class="submit-btn" type="submit">REGISTER</button>
                            </div>

                        </div>
                        &nbsp;
                        <p class="login-wrapper-footer-text text-center pb-4" style="color: #ffffffb3;">Already registered? <a routerLink="/login" class="text-reset" style="cursor: pointer;text-decoration: none;">Login here</a></p>
                    </form>
                </div>
        </div>
    </div>

</div>
