.signup-img {
    // position: absolute;
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
      //  object-fit: cover;
    -o-object-position: left;
       object-position: left;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.signup-section{
  position: absolute;
  line-height: 25px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0%;
  color: #ffffffb3;
  padding-top: 0%;
}
.form-row{
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    input {
      
    color: #000;
    background: #ffffff;
    // outline: 0;
    // border-width: 2px 2px 2px;
    // border-color: #8953bb;
    // border-style: double;
    display: block;
    width: 100%;
    padding-left: 50px !important;
    border-radius: 25px;
    height: 50px;

      }
     h5{
        font-size: 0.8rem;
     }

      .submit-btn{
        outline: none;
    border: 0;
    background: #00bbff;
    width: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 10px;
    height: 40px;
    border-radius: 20px;
    font-weight: 600;
    max-width: 200px;
    text-align: center;
    cursor: pointer;
      }
}

select{
    color: #000;
    background: #ffffff;
    display: block;
    width: 100% !important;
    padding-left: 50px !important;
    border-radius: 25px !important;
    height: 50px !important;
}
// form{
  // background-color: #7e839c29;
  // border: 4px solid #3b3b7e;
  // border-radius: 10px;
  // border-top-width: 0px;
// }
$color-black: #000;

.checkbox {
    width: 100%;
    margin: 15px auto;
    position: relative;
    display: block;
    label {
        position: relative;
        min-height: 34px;
        display: block;
        padding-left: 40px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            margin: 4px;
            width: 22px;
            height: 22px;
            // background: #000;
            transition: transform 0.28s ease;
            border-radius: 2px;
            border: 1px solid black;
        }
        &:after {
            content: '';
            display: block;
            width: 14px;
            height: 7px;
            border-bottom: 2px solid $color-black;
            border-left: 2px solid $color-black;
            transform: rotate(-45deg) scale(0);
            transition: transform ease 0.25s;
            position: absolute;
            top: 9px;
            left: 9px;
        }
    }
    input[type="checkbox"] {
        width: auto;
        opacity: 0.00000001;
        position: absolute;
        left: 0;
        margin-left: -20px;
        &:checked ~ label{
            &:before {
                // border: 2px solid $color-black;
            }
            &:after {
                transform: rotate(-45deg) scale(1);
            }
        }
        &:focus + label::before {
            outline: 0;
        }
    }
}
.login-wrapper {
  width: 300px;
  max-width: 100%;
  padding-top: 24px;
  padding-bottom: 24px; }
  @media (max-width: 575px) {
    .login-wrapper {
      width: 100%; } }
  .login-wrapper label {
    font-size: 14px;
    font-weight: bold;
    // color: #b0adad;
    color: #495057;
  }
  .login-wrapper .form-control {
    outline: none;
    box-shadow:none !important;
    border:1px solid #0808080d !important;

    background: #0808080d;
    border: none;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    padding: 9px 5px;
    min-height: 34px;
    font-size: 15px;
    font-weight: normal;
  }
    .login-wrapper .form-control::-webkit-input-placeholder {
      color: #495057;
      font-weight: 500;
    }
    .login-wrapper .form-control::-moz-placeholder {
      color: #495057;
      font-weight: 500;
    }
    .login-wrapper .form-control:-ms-input-placeholder {
      color: #495057;
      font-weight: 500;
    }
    .login-wrapper .form-control::-ms-input-placeholder {
      color: #495057;
      font-weight: 500;
    }
    .login-wrapper .form-control::placeholder {
      color: #495057;
      font-weight: 500;
    }
  .login-wrapper .login-btn {
    padding: 12px 12px;
    background-color: #da251c;
    border-radius: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 14px;
  }
    .login-wrapper .login-btn:hover {
      border: 1px solid #da251c;
      background-color: #fff;
      color: #da251c;
    }
  .login-wrapper a.forgot-password-link {
    // color: #080808;
    color: black;
    font-weight: 500;
    font-size: 15px;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 50px;
  }
  @media (max-width: 575px) {
    .login-wrapper a.forgot-password-link {
      margin-bottom: 16px;
    }
  }
  .login-wrapper-footer-text {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-bottom: 0;
    a{
      // text-decoration: none;
      font-weight: 700;
      color: #7ca7eb;
    }
  }
  @media (max-width: 850px) and (orientation: landscape) {
    .signup-section{max-width:50%}
    }

    .signup-section::-webkit-scrollbar {
      display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .signup-section {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

    #input_img {
      position:absolute;
      bottom: 18px;
      left: 30px;
      width: 30px;
      height: 30px;
  }

