<div class="modal fade" id="enquiry_modal" tabindex="-1" aria-labelledby="enquiry_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">      
      <div class="modal-body p-0">
        <div id="modal_popup">
            <div id="close_modal_popup" (click)="closeModal()">&times;</div>    
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="enquiry_modalLabel">Enquiry Form</h5>
            </div>
            <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 col-xl-12 p-3">
                    <form [formGroup]="enquiryForm" #enquiryFormDir="ngForm" (ngSubmit)="submitEnquiryForm()">            
                        <div class="form-group m-3">
                          <input type="text" class="form-control" required autocomplete="off" formControlName="name" placeholder="Name">    
                          <div class="invalidError" *ngIf="(enquiryForm.get('name').invalid && enquiryFormDir.submitted) || (enquiryForm.get('name').dirty && enquiryForm.get('name').invalid)">
                                Name is Required*
                            </div>
                        </div>
                        <div class="form-group m-3">
                          <input type="email" class="form-control" required autocomplete="off" formControlName="email" placeholder="Email ID">    
                          <div class="invalidError" *ngIf="(enquiryForm.get('email').invalid && enquiryFormDir.submitted) || (enquiryForm.get('email').dirty && enquiryForm.get('email').invalid)">
                                Email is Required*
                            </div>
                        </div>
                        <div class="form-group m-3">
                          <input type="text" class="form-control" required autocomplete="off" formControlName="company" placeholder="Company Name">    
                          <div class="invalidError" *ngIf="(enquiryForm.get('company').invalid && enquiryFormDir.submitted) || (enquiryForm.get('company').dirty && enquiryForm.get('company').invalid)">
                                Company is Required*
                            </div>
                        </div>
                        <div class="form-group m-3">
                          <input type="text" class="form-control" required autocomplete="off" formControlName="contact" placeholder="Contact">    
                          <div class="invalidError" *ngIf="(enquiryForm.get('contact').invalid && enquiryFormDir.submitted) || (enquiryForm.get('contact').dirty && enquiryForm.get('contact').invalid)">
                                Contact No is Required*
                            </div>
                        </div>
                        <div class="form-group m-3">
                          <textarea type="text" class="form-control" required autocomplete="off" formControlName="query" placeholder="Query" rows="3"></textarea>  
                          <div class="invalidError" *ngIf="(enquiryForm.get('query').invalid && enquiryFormDir.submitted) || (enquiryForm.get('query').dirty && enquiryForm.get('query').invalid)">
                                Query is Required*
                            </div>
                        </div>
                        <!-- <div class="form-group m-3">
                            <h6>Product Categories</h6>
                            <div class="form-check" *ngFor="let p of items; let i=index">
                              <input class="form-check-input" type="checkbox" value="{{p}}" id="c{{i}}" (change)="ischecking($event)">
                              <label class="form-check-label" [attr.for]="'c'+i">
                                 {{p | titlecase}}
                              </label>
                            </div> -->
                            <!-- <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="security">
                              <label class="form-check-label" for="security">
                                SECURITY SOLUTION
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="electrical">
                              <label class="form-check-label" for="electrical">
                                ELECTRICAL PRODUCTS
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="bms">
                              <label class="form-check-label" for="bms">
                                BUILDINGS MANAGEMENT SYSTEM
                              </label>
                            </div> -->
                        <!-- </div> -->
                        <div id="submitBtn" class="m-3">
                            <input class="btn submitBtn" type="submit" value="Submit">                
                        </div>
                       
                    </form>
                  </div>
                </div>
            </div>
        </div>      
      </div>      
    </div>
  </div>
</div>