<section id="bg_section">
  <div id="content_section">
    <img id="bgimg" src="{{bgImg}}" alt="">
    <div class="one" (click)="postPath('lobby2')">
      <!-- <div class="pulsating-circle"></div> -->
    </div>
    <div *ngFor="let p of gameData; let i = index" data-bs-toggle="tooltip" class="p{{i+1}} text-center"
      data-bs-placement="top" [ngStyle]="{'top':p.position_top+'%', 'left':p.position_left+'%'}"
      (click)="pointerMethod(p,p.title)">
      <!-- <div class="pulsating-circle"></div> -->
      <img class="play-icon" src="assets/event/play.png" alt="">
    </div>
  </div>
</section>

<div class="modal fade" id="open_game_modal" tabindex="-1" aria-labelledby="open_game_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" id="ModalPlay">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeModal()">&times;</div>
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="open_game_modalLabel">Game</h5>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0">
                <div id="popupData">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>