.one{
    position: absolute;
    top: 2%;
    left: 1%;
    cursor: pointer;
    height: 8vw;
    width: 8vw;  
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

.play-icon{
    width: 100%;
}