<div class="modal fade" id="t_one_groupChat" tabindex="-1" aria-labelledby="t_one_groupChatLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">      
      <div class="modal-body p-0">
        <div id="modal_popup">
            <div id="close_modal_popup" (click)="closegroupchat()">&times;</div>    
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="t_one_groupChatLabel">Group Chat</h5>
            </div>
            <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 col-xl-12 p-0 mb-3">
                    <div class="chat_box">
                        <ul class="chat_message" #scroller [scrollTop]="scroller.scrollHeight">
                            <ng-container *ngFor="let user of messageList">
                                <li class="user-profile-row" [ngStyle]="{'background':(username===user.user_name)?'#27bf46c9':'white', 'float':(username===user.user_name)?'right':'left'}"
                                    id="user_row_500">
                                    <div class="user-profile-data">
                                        <div class="user-profile-image"> <img class="img-responsive user-profile-img"
                                                src="assets/icons/profile_icon.png" width="50">
                                        </div>
                                        <div class="user-profile-info">
                                            <p class="user-profile-name"><a href="javascript:void(0);"
                                                    [ngStyle]="{'color':(username===user.user_name)?'white':'black'}">{{user.user_name}}</a>
                                            </p>
                                            <p class="user-profile-company" [ngStyle]="{'color':(username===user.user_name)?'white':'black'}">{{user.chat_data}}</p>
                                        </div>
                                    </div>

                                </li>
                            </ng-container>
                        </ul>
                    </div>
                    <div class="message_input">
                        <textarea name="message" autocomplete="off" placeholder="Please Chat here"
                            [formControl]="textMessage" (keyup.enter)="postMessage(textMessage.value)"
                            maxlength="200" type="text" id="query" value=""></textarea>
                    </div>
                    
                    <div class="ms-3">
                      <button type="submit" class="btn submitBtn" (click)="postMessage(textMessage.value)">Send</button>
                    </div>             
                  </div>
                </div>
            </div>
        </div>      
      </div>      
    </div>
  </div>
</div>



