<section id="bg_section">
    <div id="content_section">
        <img id="bgimg" src="assets/event/lobby3.jpg" alt="">
        <h1 id="demo">GOING LIVE AT 2PM EST  FEBRUARY 25, 2022</h1>
        <!-- <div class="one" (click)="postPath('gamezone')">
            <div class="pulsating-circle"></div>
        </div>
        <div class="two" (click)="postPath('photobooth')">
            <div class="pulsating-circle"></div>
        </div> -->
    </div>
</section>