.one{
    position: absolute;
    bottom: 15%;
    left: 31%;
    cursor: pointer;
    height: 6vw;
    width: 4vw;       
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

.two{
    position: absolute;
    bottom: 17.5%;
    left: 65.4%;
    cursor: pointer;
    height: 6vw;
    width: 4vw;       
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

#demo{position: absolute;
    top: 45%;
    transform: translate(-50%,-50%);
    left: 50%;
    color: aliceblue;}


    @media screen and (max-width: 900px) {
        #demo {
    font-size: 16px;
        
        }
      }