<!--  -->
<!-- <div class="container" style="text-align:center">
    <iframe frameborder="0" height="700" src="https://virtualapi.multitvsolution.com/cipla/butterflies/index.html" width="50%" allow="camera; microphone"></iframe>
  </div> -->
  <section id="bg_section">
    <div id="content_section">
      <img id="bgimg" src="assets/event/photobooth_files/photobooth.jpg" alt="">
      <div class="one" (click)="postPath('photobooth')">
        <!-- <div class="pulsating-circle"></div> -->
      </div>
      <div class="two" (click)="openPhotobooth()">
        <div class="pulsating-circle"></div>
      </div>
      <!-- <div class="two" (click)="openAR()">
        <div class="pulsating-circle"></div>
      </div> -->
      <!-- <div id="openPhoto" (click)="showPhotobooth()">
        <div class="pulsating-circle"></div>
      </div> -->
    </div>
  </section>

  <div class="modal fade" id="armodal3" tabindex="-1" aria-labelledby="armodal3Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div id="modal_popup">
            <div id="close_modal_popup" (click)="closeModalNew3()">&times;</div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                  <div>
                    <iframe frameborder="0" height="700" src="https://ciplaachievers.multitvsolution.com/butterflies/index.html" width="100%" allow="camera; microphone"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 